body{
    margin: 0px;
    padding: 0px ;
    overflow-x: hidden;
    text-align: center;
    border: 2px solid rgb(126, 11, 34);
    background-color:rgb(249, 227, 232);
}

#p1{
    width: 100%;
    height: calc(5px + 15vw);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border: 2px solid rgb(126, 11, 34);
    background-color:rgb(255, 212, 221);
}

#fontStyle{
    font-family:cursive;
    font-size: calc(12px + 3vw);
    color:rgba(34, 33, 33, 0.637);
}

#desc{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: calc(5px + 1vw);
     margin-top: 2px;
}

.calculos{
    border: 2px solid rgb(126, 11, 34);
    border-bottom: none;
    background-color:rgb(249, 227, 232);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width: 100%;
    height: calc(20px + 70vh);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#resultado{
    font-size: calc(7px + 2vh);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(182, 53, 7);
    padding-top: 20px;
}

button{
    color: rgb(65, 65, 65);
    background-color: rgb(176, 168, 252);
    width: 12vw;
    height: 5vh;
    border: none;
    outline: none;
    border-radius: 10px;
}

button:hover{
    width: 12.5vw;
    height: 5vh;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

#numeros{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: wrap;
}

input{
    width: 80%;
    text-align: center;
    border: none;
    outline: none;
    background-color:rgb(255, 250, 220);
}

#div_contas{
    margin: 25px;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid rgba(24, 23, 23, 0.377);
    border-style:dashed;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: calc(10px + 15vw);
    height: 55vh;
    font-size: calc(6px + 1vh);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}